* {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

header, img, section, div {
    background: transparent;
}

.logo-alura {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main {
    display: flex;
    margin: 0 0 50px 80px;
    background: transparent;
}

.text-area {
    background: #e9ebee;
    border: white;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 20px;
    text-transform: lowercase;
    position: relative;
}

.text-area::placeholder {
    color: #0A3871;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.text-area :focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
    background: transparent;
    gap: 4px;
}

.btn {
    width: 328px;
    height: 67px;
    background: #0A3871;
    border: 1px solid #0A3871;
    color: #D8DFE8;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
}


.btn-encriptar:hover,
.btn-desencriptar:hover {
    color: white;
    background: #00d4ff;
    font-size: 30px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.mensaje {
    background: white;
    background-image: url(./imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: 40% 20%;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    box-shadow: 0px 0px 32px -8px rgb(0 0 0 / 50%);
}

.mensaje :focus {
    outline: none;
}

.mensaje::placeholder {
    color: #0A3871;
    position: relative;
    top: 360px;
    text-align: center;
}

.caja{
    position: relative;
    left: 10%;
}
.copiar {
    width: 328px;
    height: 67px;
    background: #0A3871;
    border: 1px solid #0A3871;
    color: #D8DFE8;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 108px;
    margin-top: 110px;
    position: relative;
}

.copiar:hover {
    font-size: 30px;
    background: #00d4ff;
    box-shadow: 0px 0px 15px 8px rgba(248, 249, 250, 0.5);
}

.informacion {
    background: transparent;
    color: #495057;
    font-size: 18px;

}

.informacion:before {
    content: "⚠";
}

footer {
    height: 150px;
    width: 100%;
    background: black;
    margin-top: 80px;
}

h4 {
    background: transparent;
    color: #e9ebee;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 80%;
}
h4::before{
    content: "© ";
}

@media screen and (max-width:480px) {
    *  {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
    }
    
    header, img, section, div {
        background: transparent;
    }
    
    .logo-alura {
        padding-top: 10px;
        margin-left: 10px;
        width: auto;
    }
    
    main {
        display: flex;
        margin: 0 0 50px 80px;
        background: transparent;
    }
    
    .text-area {
        background: #e9ebee;
        border: white;
        border-radius: 24px;
        color: #0A3871;
        margin-top: 20px;
        text-transform: lowercase;
        position: relative;
    }
    
    .text-area::placeholder {
        color: #0A3871;
        text-align: center;
        font-size: 20px;
    }
    
    .text-area :focus {
        outline: none;
    }
    
    .botones {
        display: flex;
        margin-top: 18px;
        background: transparent;
        gap: 4px;
    }
    
    .btn {
        width: auto;
        height: 67px;
        background: #0A3871;
        border: 1px solid #0A3871;
        color: #D8DFE8;
        border-radius: 24px;
        cursor: pointer;
        position: relative;
    }
    
    
    .btn-encriptar:hover,
    .btn-desencriptar:hover {
        color: white;
        background: #00d4ff;
        font-size: 30px;
        box-shadow: 0px 0px 15px rgb(255, 255, 255);
    }
    
    .mensaje {
        background: white;
        background-image: url(./imagenes/Muñeco.png);
        background-repeat: no-repeat;
        background-position: 40% 20%;
        border: none;
        border-radius: 24px;
        color: #0A3871;
        margin-left: 98px;
        margin-top: 20px;
        padding-left: 20px;
        box-shadow: 0px 0px 32px -8px rgb(0 0 0 / 50%);
    }
    
    .mensaje :focus {
        outline: none;
    }
    
    .mensaje::placeholder {
        color: #0A3871;
        position: relative;
        top: 360px;
        text-align: center;
    }
    
    .caja{
        position: relative;
        left: 10%;
    }
    .copiar {
        width: auto;
        height: 67px;
        background: #0A3871;
        border: 1px solid #0A3871;
        color: #D8DFE8;
        border-radius: 24px;
        cursor: pointer;
        margin-left: 108px;
        margin-top: 110px;
        position: relative;
    }
    
    .copiar:hover {
        font-size: 30px;
        background: #00d4ff;
        box-shadow: 0px 0px 15px 8px rgba(248, 249, 250, 0.5);
    }
    
    .informacion {
        background: transparent;
        color: #495057;
        font-size: 18px;
    
    }
    
    .informacion:before {
        content: "⚠";
    }
    
    footer {
        height: 200px;
        width: auto;
        background: black;
        margin-top: 80px;
    }
    
    h4 {
        background: transparent;
        color: #e9ebee;
        font-size: 12px;
        text-align: center;
        position: relative;
        top: 80%;
    }
    h4::before{
        content: "© ";
    }
}